src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="039d20f6-2086-45bb-8993-29e049c16d76" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="4d7a9186-aecb-4a54-8630-3108c531fdfa" >
		<http:listener doc:name="Listener" doc:id="8e3cb2cd-3511-4476-92eb-0ca8650e7a34" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["created pipelines"]' doc:name="Set Payload" doc:id="5ee269c4-4fae-4bbb-9d76-c3b19f170d44" />
	</flow>
</mule>
